/* Colors */
:root {
  --primary-color: #333333; /* Dark gray for primary elements */
  --secondary-color: #666666; /* Medium gray for secondary elements */
  --accent-color: #de8435; /* Orange for accents */
  --text-color: #cccccc; /* Light gray for text */
  --background-color: #000000; /* Black for background */
  --button-color: #444444; /* Dark gray for buttons */
  --button-hover-color: #555555; /* Slightly lighter gray for button hover state */
  --navbar-hover-color: #444444; /* Dark gray for navbar hover state */
}
/* ================ */
/* Dark Mode Toggle */
/* ================ */
.theme-toggle {
    position: fixed;
    top: 85px;
    right: 20px;
    z-index: 2000;
    display: flex;
    align-items: center;
}

.toggle-wrapper {
    position: relative;
    width: 60px;
    height: 30px;
    margin-left: 10px;
}

.toggle-input {
    opacity: 0;
    width: 0;
    height: 0;
}

.toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: 0 2px 5px rgba(0,0,0,0.5);
    background: linear-gradient(90deg, #f6a3ef, #dd6dfb);
    display: flex;
    align-items: center;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.4s ease;
    overflow: hidden;
}

.toggle-label:before {
    content: "";
    position: absolute;
    width: 22px;
    height: 22px;
    left: 4px;
    bottom: 4px;
    border-radius: 50%;
    background: white;
    transition: all 0.4s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.toggle-icons {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8px;
    pointer-events: none;
    color: white;
    z-index: 2;
}

.toggle-icons i {
    font-size: 14px;
}

.toggle-input:checked + .toggle-label {
    background: linear-gradient(90deg, #4900ff, #ff00c1);
}

.toggle-input:checked + .toggle-label:before {
    transform: translateX(30px);
    background: #00fff9;
}



body {
    font-family: 'futura-pt', sans-serif;
    font-weight: 100;
    font-style: normal;
    background-color: white;
    margin: 0px;
    padding: 0px;
}

.container {
  width: 100%;
  height: 100%;
  padding: 20px; /* Adjust as needed */
}

.nav-links a {
  font-family: 'futura-pt', sans-serif;
}

header {
    background-color: white;
    padding: 40px 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: red;
    text-decoration: none;
}

/* Default styles for screens larger than 928px */
.galery {
    display: grid;
    grid-template-columns: repeat(6, 1fr); /* 6 columns */
    gap: 10px; /* 20px gap between items */
    padding: 15px 52px; /* 10px padding around the gallery */
    opacity: 0;
  margin-bottom: 200px;
    transition: opacity 0.5s ease-in-out;
    }

.galery.show {
    opacity: 1;
    }

.galery-item {
    margin: 0;
    box-sizing: border-box;
    position: relative;
    text-align: center;
    aspect-ratio: 170 / 294; /* Maintain the aspect ratio of 139:174 */
    overflow: hidden;
    }

.galery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure the image covers the container */
    background-position: center;
    }

.galery-item .album-name {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
    color: #ffffff;
    padding: 20px 10px 10px;
    font-size: 0.9rem;
    font-weight: 500;
    position: absolute;
    text-transform: capitalize;
    bottom: 0;
    width: 100%;
    text-align: center;
    z-index: 2;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    letter-spacing: 0.5px;
    box-sizing: border-box;
    }

/* Show name on hover for desktop */
@media (min-width: 929px) {
    .galery-item:hover .album-name {
        opacity: 1;
    }
}

/* Always show name on mobile */
@media (max-width: 928px) {
    .galery-item .album-name {
        opacity: 1;
    }
}

/* Style for all buttons within the #styles container */
#styles {
  position: relative; /* Needed for the ::after pseudo-element */
  display: flex; /* Align buttons in a row */
  justify-content: space-between; /* Space out buttons evenly */
  padding-bottom: 0px; /* Space for the line */
}

#styles button {
    font-family: 'Baloo 2';
  border: none; /* Remove borders */
  color: black; /* White text */
  background-color: transparent;
  text-transform: uppercase; /* Uppercase text */
  padding: 3px 15px; /* Some padding */
  text-align: center; /* Centered text */
  text-decoration: none; /* Remove underline */
  display: inline-block; /* Make the buttons appear side by side */
  font-size: 16px; /* Increase font size */
  margin: 0 0; /* Some margin */
  cursor: pointer; /* Pointer/hand icon */
  border-radius: 8px; /* Rounded corners */
}

/* Add a hover effect for the buttons */
#styles button:hover {
  color: #de8435;
  transition: color 0.3s ease; /* Smooth color transition */
}

#styles button.active {
  color: #de8435; /* Change text color to accent color */
}


/* Add a continuous line under the buttons */
#styles::after {
  content: '';
  position: absolute;
  bottom: 10;
  left: 0;
  width: 100%;
  height: 1.3px; /* Thickness of the line */
  background-color: black; /* Color of the line */
}

/* Center the buttons under the navigation bar */
main {
  display: flex;
  justify-content: center;
  background-color: white;
  align-items: center;
  flex-direction: column;
  margin-top: 10px; /* Adjust this value as needed */
}

/* Overlay effect */
.galery-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(222, 132, 43, 0.5); /* Red overlay with 50% opacity */
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    z-index: 1; /* Ensure the overlay is above the image but below the text */
    }

.galery-item:hover::before {
    opacity: 1;
    }

/* Media query for screens smaller than 928px */
@media (max-width: 928px) {
    .galery {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center; /* Center items horizontally */
        gap: 9px;
        padding: 0.3px;
    }

    .galery-item {
        margin-bottom: 10px;
    aspect-ratio: 139 / 204; /* Maintain the aspect ratio of 139:174 */
    }
  
  .galery-item img {
    width: 100%;
    height: 100%;
    display: contain; /*calismazsa cover, contain, scale-down */ 
    object-fit: cover; /* Ensure the image covers the container */
    }
  
.galery-item .album-name {
    background-color: rgba(51, 51, 51, 1);
    color: lightgray;
    padding: 10px 0;
    position: absolute;
    text-transform: uppercase; /* Uppercase text */
    bottom: 0;
    width: 100%;
    text-align: center;
    z-index: 2; /* Ensure the text is above the overlay */
    }
  
/* Center the buttons under the navigation bar */
main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  margin-top: 0px; /* Adjust this value as needed */
 }
 
}